extends layout
include ./utils.jade
//comments, user, Announ
block content
    div.container-fluid(id='annoucements-margin-top')
        h1 Detalhes do Anúncio

    div.container-fluid
        div.row(style='annoucements-margin-top')
            div.col-md-5
                div.row
                    h4 Título
                    p.announcement-Paragraph #{Announ.titulo}
                    h4 Descrição
                    p.announcement-Paragraph #{Announ.desc}
                    h4 Preço
                    p.announcement-Paragraph #{Announ.preco}
                    h4 Categoria
                    p.announcement-Paragraph #{Announ.categoria}
                    h4 Cidade
                    p.announcement-Paragraph #{Announ.localizacao}
                    h4 Vendedor:
                    p.announcement-paragraph #{Announ.vendedor}
                    if user.username != Announ.vendedor
                        h4 Classificao do utilizador:
                        p.announcement-paragraph #{classification}
                                if user && user.username
                                    h4 Classifique este anunciante:
                                    div.input-group
                                        form(action="/announcements/#{Announ.id}/classification", method = "post")
                                            div.divs
                                                label 0
                                                input.checkboxes(type='radio', name ='classbtn', label='0', value=0)
                                            div.divs
                                                label 1
                                                input.checkboxes(type='radio', name ='classbtn', label='1', value=1)
                                            div.divs
                                                label 2
                                                input.checkboxes(type='radio', name ='classbtn', label='2', value=2)
                                            div.divs
                                                label 3
                                                input.checkboxes(type='radio', name ='classbtn', label='3', value=3)
                                            div.divs
                                                label 4
                                                input.checkboxes(type='radio', name ='classbtn', label='4', value=4)
                                            div.divs
                                                label 5
                                                input.checkboxes(type='radio', name ='classbtn', label='5', value=4)
                                            button.btn.btn-default Classificar
                                    if subscribed
                                        form.buttons(action='/announcements/#{Announ.id}/unsubscribe', method='post')
                                            button.btn.btn-default Cancelar Subscricao
                                    else
                                        form.buttons(action='/announcements/#{Announ.id}/subscribe', method='post')
                                            button.btn.btn-default Subscrever
                                        if user.username === Announ.vendedor
                                            form.buttons(action='/announcements/#{Announ.id}/edit', method='get')
                                                button.btn.btn-default.inline Editar

            div.col-md-1
                    h2 Comentários:
            div.col-md-5
                div.panel.panel-default
                    each cm in comments
                        div.panel-heading
                            h5 #{cm.username}:
                        div.panel-body
                            p #{cm.coment}
                if user && user.username
                    div.row
                        form(action='/announcements/#{Announ.id}/comment', method='post')
                            textarea.form-control(id='announcement-comment', type='text', placeholder='Comentário', name='comment', required)
                            button.btn.btn-default.mybutton(style='float: right') +Comentar