extends layout
include ./utils.jade
//comments, user, Announ
block content
    div.container-fluid(id='annoucements-margin-top')
        h1 Detalhes do Anuncio

    div.container-float
        div.row(style='annoucements-margin-top')
            div.col-md-5
                div.row
                    h4 Título
                    p(style='clear: both') #{Announ.titulo}
                    h4 Descrição
                    p(style='clear: both') #{Announ.desc}
                    h4 Preço
                    p(style='clear: both') #{Announ.preco}
                    h4 Categoria
                    p(style='clear: both') #{Announ.categoria}
                    h4 Cidade
                    p(style='clear: both') #{Announ.localizacao}
                    h4 Vendedor:
                    p #{Announ.vendedor)
                        if user && user.username
                            div
                                form.buttons(action='/announcements/#{Announ.id}/subscribe', method='post')
                                    button.btn.btn-default Subscrever
                                form.buttons(action='/announcements/#{Announ.id}/unsubscribe', method='post')
                                    button.btn.btn-default Cancelar Subscricao
                                if user.username === Announ.vendedor
                                    form.buttons(action='/announcements/#{Announ.id}/edit', method='get')
                                        button.btn.btn-default.inline Editar

            div.col-md-1
            div.col-md-5
                div.row
                    ul(style='list-style-type: none')
                        li.row
                            for cm in comments
                                div.col-md-3
                                    p #{cm.username}
                                div.col-md-9
                                    p #{cm.comentario}
                    if user && user.username
                        li.row
                            form(action='/announcements/#{Announ.id}/comment', method='post')
                                textarea.form-control(id='announcement-comment', type='text', placeholder='Comentário', name='comment', required)
                                button.btn.btn-default.mybutton(style='float: right') +Comentar
