extends layout
include ./utils.jade

block content
	div.container-float
		div.row(style='margin-top: 100px')
			div.col-md-5
				div.row
					h3 Titulo
					p(style='clear: both') #{queixa.titulo}
					h4 Descrição
					if !queixa.descricao || !queixa.descricao.length
						p(style='color: gray') Sem Descrição
					else
						p(style='clear: both') #{queixa.descricao}
					div.container-fluid(style='margin-top: 50px')
						if user && user.username
							div.col-md-6
								if !queixa.isfollowing
									div.col-md-6
										form(action='/queixinhas/#{queixa.id}/subscribe', method='post')
											button.btn.btn-default Subscrever
								else
									div.col-md-6
										form(action='/queixinhas/#{queixa.id}/unsubscribe', method='post')
											button.btn.btn-default Cancelar
								if user.gestor || user.username === queixa.autor
									div.col-md-6
										form(action='/queixinhas/#{queixa.id}/edit', method='get')
											button.btn.btn-default.inline Editar
							div.col-md-6
								+likes(queixa)
			div.col-md-1
			div.col-md-5
				div.row
					ul(style='list-style-type: none')
						li.row
							for cm in queixa.comnt
								div.col-md-3
									p #{cm.username}
								div.col-md-9
									p #{cm.comentario}
						li.row
							form(action='/queixinhas/#{queixa.id}/comment', method='post')
								textarea.form-control(type='text', placeholder='Comentário', name='comment', style='resize: none', required)
								button.btn.btn-default.mybutton(style='float: right') Comentar
						li