extends layout
include ./utils.jade
//comments, user, Announ
block content
    div.container-float
        div.row(style='margin-top: 100px')
            div.col-md-5
                div.row
                    h3 Título
                    p(style='clear: both') #{Announ.titulo}
                    h4 Descrição
                    p(style='clear: both') #{Announ.desc}
                    h4 Preço
                    p(style='clear: both') #{Announ.preco}
                    h4 Categoria
                    p(style='clear: both') #{Announ.categoria}
                    h4 Cidade
                    p(style='clear: both') #{Announ.localizacao}
                    h4 Vendedor:
                    h5
                        p #{Announ.vendedor}
                    div.container-fluid(style='margin-top: 50px')
                        if user && user.username
                            div.col-md-6
                                //TODO subscribe e unsubscribe
                                //if !queixa.isfollowing
                                div.col-md-6
                                        form(action='/announcements/#{Announ.id}/subscribe', method='post')
                                            button.btn.btn-default Subscrever
                                //else
                                div.col-md-6
                                        form(action='/announcements/#{Announ.id}/unsubscribe', method='post')
                                            button.btn.btn-default Cancelar
                                if user.gestor || user.username === Announ.vendedor
                                    div.col-md-6
                                        form(action='/announcements/#{Announ.id}/edit', method='get')
                                            button.btn.btn-default.inline Editar
                            div.col-md-6
                                +likes(Announ)
            div.col-md-1
            div.col-md-5
                div.row
                    ul(style='list-style-type: none')
                        li.row
                            for cm in comments
                                div.col-md-3
                                    p #{cm.username}
                                div.col-md-9
                                    p #{cm.comentario}
                    if user && user.username
                        li.row
                            form(action='/announcements/#{Announ.id}/comment', method='post')
                                textarea.form-control(type='text', placeholder='Comentário', name='comment', style='resize: none', required)
                                button.btn.btn-default.mybutton(style='float: right') Comentar
